<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>intellect/home</title>
    <%- include("../header") -%>
  </head>
  <body>
    <%- include("../navbar") -%>
    <br>
    <div class="container box-shadow">
      <h3>Search for similar questions first!</h3><br>
      <form action="/ask" method="get">
        <input type="text" name="q" class="form-control" placeholder="your_search"/>
      </form>
      <br>
      <% if(questions) { %>
        <ul class="list-group">
        <% for(var i=0;i<questions.length;i++) { %>
            <li class="list-group-item">
              <a href="/question/<%= questions[i]._id %>">
                <%= questions[i].question %>
                <% if(questions[i].subject == "General Knowledge") { %>
                  <span class="float-right dark">G.K.</span>
                <% } %>
                <% if(questions[i].subject != "General Knowledge") { %>
                  <span class="float-right dark"><%= questions[i].subject %></span>
                  <% } %>
              <br>
              <span class="text-muted">
                <%= questions[i].answers.length %> Answer<% if(questions[i].answers.length > 1) { %>s<% } %>
              </span>
              </a>
            </li>
        <% } %>
        </ul>
      <% } %>
    </div>
    <br>
    <div class="container box-shadow">
      <h3>Ask Your Question</h3>
      <br>
      <form action="/ask" method="post" enctype="multipart/form-data">
          <input type="text" name="question" class="form-control" placeholder="your_question_goes_here" required/>
          <br>
          <select class="form-control float-left" style="width:30%;" name="points">
            <option value="" selected disabled hidden>- Choose points -</option>
            <option value="10">10</option>
            <option value="10">20</option>
            <option value="10">30</option>
            <option value="10">50</option>
          </select>

          <select class="form-control float-right" style="width:69%;" name="subject">
          <option value="" selected disabled hidden>- Choose a subject -</option>
            <option value="1">General Knowledge</option>
            <option value="2">English</option>
            <option value="3">Maths</option>
            <option value="4">Physics</option>
            <option value="5">Chemistry</option>
            <option value="6">Biology</option>
            <option value="7">History</option>
            <option value="8">Political science</option>
            <option value="9">Geography</option>
          </select>
          <br><br><br>
          <button type="submit" name="button" class="btn btn-action btn-info">Submit</button>
      </form>
    </div>
    <br><br>
  <%- include("../footer") %>
  </body>
</html>
