<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>intellect/home</title>
    <%- include("../header") -%>
    <link rel="stylesheet" href="/resources/mathquill.css">
  </head>
  <body>
    <%- include("../navbar") -%>
    <br>
    <div class="container">
      <% if(question) { %>
        <blockquote>
          <%= question.question %>
          <br>
          <span class="text-muted" style="font-size:14px;">Asked by <%= question.by %> <%= question.timeago %></span>
        </blockquote>
        <br>
        <div class="container">
          <% for(var i=0;i<question.answers.length;i++) { %>
            <button <% if(question.answers[i].upvotes.find(x => x.by.username == user.username)) { %> style="padding:0; background: transparent; border: none;color: var(--primary)" <% } %> onclick="upvote('<%=question.id%>/<%= question.answers[i].id %>'); if(this.style.color == 'var(--primary)') {this.style.color = '#2c3e50'} else {this.style.color = 'var(--primary)'}" style="padding:0; background: transparent; border: none; color: #000" class="btn btn-primary"><i class="fa fa-arrow-up"></i></button>
            <blockquote>
              <%= question.answers[i].answer %>
              <br>
<span class="text-muted" style="font-size:14px;">Answer given by <%= question.answers[i].by %> <%= question.answers[i].date %></span>
            </blockquote>

          <% } %>
        </div>
        <br>
        <form action="/question/<%= question._id %>"  enctype="multipart/form-data" method="post">
          <% if(question.subject == "Maths") { %>
              <span name="answer" class="form-control" id="math-field" placeholder="answer_goes_here"></span><br>
          <% } else { %>
              <textarea name="answer" class="form-control" placeholder="answer_goes_here" required></textarea>
          <% } %>

        <br>
        <button type="submit" class="btn btn-action btn-warning">ANSWER AS @<%= user.username %></button>
      </form>

      <% } %>
    </div>
    <script src="/javascripts/upvote.js"></script>
  <%- include("../footer") %>

  <script src="/resources/mathquill.min.js" charset="utf-8"></script>
  <script>
  var mathFieldSpan = document.getElementById('math-field');
//  var latexSpan = document.getElementById('latex');

  var MQ = MathQuill.getInterface(2); // for backcompat
  var mathField = MQ.MathField(mathFieldSpan, {
  spaceBehavesLikeTab: true, // configurable
  handlers: {
    edit: function() { // useful event handlers
      //latexSpan.textContent = mathField.latex(); // simple API
      //console.log(latex.textContent);
    }
  }
  });
</script>
  </body>
</html>
