<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>intellect/home</title>
    <%- include("../header") -%>
  </head>
  <body>
    <%- include("../navbar") -%>
    <br>
    <div class="container-fluid">
      <button type="button" name="button" class="btn btn-sm btn-primary" onclick="window.changeTheme();">
            <i class="fa fa-moon"></i>  Dark
          </button><br><br>
            <div class="container">
                <form action="/search" method="get">
                    <div class="col-md-10"><input style="width: 100%; margin-top:10px" type="text" name="q" class="form-control" placeholder="your_search"/></div>
                    <div class="col-md-2"><button style="width: 100%; margin-top:10px" type="submit" class="btn btn-primary">Search!</button></div>
                </form>
            </div>
        <div class="container">
        <% if(!search) { %>
        <br>
        <h1>New questions!</h1>
      <ul class="list-group" id="latest">
      <%- questions.map(q => `
                <li class="list-group-item">
                    <a href="/question/${q.id}">
                        ${q.question}
                            <span class="float-right">${q.answers.length} Answers</span>
                        <br>
                        <span class="text-muted">
                            ${q.subject}
                        </span>
                        </a>
                    </li>
            `).join(' ');
            %>
            </ul>
            <% } else { %>
            <br>
                <h1>Search results: </h1>
                <ul class="list-group" id="latest">
                <%- questions.map(q => `
                <li class="list-group-item">
                    <a href="/question/${q.id}">
                        ${q.question}
                            <span class="float-right">${q.answers.length} Answers</span>
                        <br>
                        <span class="text-muted">
                            ${q.subject}
                        </span>
                        </a>
                    </li>
            `).join(' ');
            %>
            </ul>
            <% } %>
            </div>
    </div>
    <div class="box">
      <div class="b">
        <img src="/images/logo.png" alt="Intellect logo" class="logo rotating-logo">
      </div>

      <br><br><br><br><br><br><br>
      <h4>
      <div class="container">
        <center><span id="quote" class="quote"></span></center>
      </div>
      </h4>
    </div>
    <br>
  <%- include("../footer") %>
  </body>
</html>
